<h1 class="favTitle">I Love {{bioData.name}}</h1>
<img src="/images/{{bioData.image}}" alt="bio image">
<h3 class="favSubTitle">Why {{bioData.name}} is a favourite of mine.</h3>
<p class="bio">{{bioData.bio}}</p>
<p class="when">{{bioData.when}}</p>
<p class="why">{{bioData.why}}</p>